div#settingwin {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
}

div#warning {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
}
button#setting {
    right: 8px;
    position: absolute;
}

html, body {
    /*color: #7dace3;*/
    background-color: #7dace3 /*#4285f4*/;
}

canvas#graph {
    border: 2px solid black;
}

input#height{
    width: 50px;
}

input#year {
    width: 50px;
}

input#month {
    width: 30px;
}
