div#settingwin {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
}

div#warning {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
}
button#setting {
    right: 0;
    position: relative;
}

input#height{
    width: 50px;
}

input#year {
    width: 50px;
}

input#month {
    width: 30px;
}
