div#settingwin {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    background-color: #F9F9F9;
    border: 1px solid #333;
    padding: 5px;
}

input#height{
    width: 40px;
}

input#year {
    width: 40px;
}

input#month {
    width: 25px;
}
